phpuserend/static/characters/characters.zip
phpuserend/saved/movie/zip/*.zip
phpuserend/saved/character/xml/*.xml
phpuserend/saved/character/thumb/*.png
phpuserend/saved/character/ccChars.xml
launcher/npminstalled.txt 