.video-header{
    border-bottom:1px solid #aaa;
    padding-bottom:10px
}
.video-header h1{
    margin:0 0 5px 0;
    font-size:18px;
    line-height:20px
}
.video-header .portrait{
    float:left
}
.video-header .meta{
    padding-left:5px;
    overflow:hidden;
    position:relative
}
.video-header .meta .more{
    position:absolute;
    right:0;
    top:0
}
.video-header .meta .more>span{
    display:inline-block;
    margin-left:5px
}
.video-header .status .label{
    display:none
}
.video-header .status.draft .label-draft,.video-header .status.private .label-private,.video-header .status.public .label-public,.video-header .status.unlisted .label-unlisted{
    display:inline-block
}
.video-header .bio{
    border-top:1px solid #aaa;
    padding-top:10px;
    margin-top:10px
}
.video-content{
    padding:10px 0 0 10px
}
.player-container{
    margin-bottom:10px
}
.video-actions{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin:0 10px;
    text-align:center
}
.video-actions .divider{
    padding:0 5px;
    color:#999;
    font-weight:bold;
    font-size:10px
}
.video-actions .dimmed{
    opacity:.2;
    filter:alpha(opacity=20)
}
.video-actions .dimmed:hover{
    opacity:1;
    filter:alpha(opacity=100)
}
.video-actions .dropdown .video-options .button{
    text-align:left
}
.video-license{
    text-align:center;
    padding:10px;
    margin:0 10px;
    border-bottom:1px solid #ccc
}
.video-social-share{
    border-bottom:1px solid #ccc;
    padding-top:10px
}
.video-social-share>div{
    float:left;
    margin-left:10px;
    height:35px
}
.video-social-share>div:first-child{
    margin-left:0
}
.video-social-share .divider{
    padding:0 5px;
    color:#999;
    font-weight:bold;
    font-size:10px
}
.video-commercial-use{
    border-bottom:1px solid #ccc;
    margin-top:10px;
    padding-bottom:10px;
    text-align:center
}
#commercial-use-tooltip-container .tooltip-inner{
    max-width:300px;
    text-align:left
}
.video-bio{
    border-bottom:1px solid #aaa;
    margin-bottom:30px
}
.video-bio .toggle{
    text-align:center;
    display:block;
    padding:5px 0;
    font-weight:normal
}
.video-bio .toggle .caret{
    margin-top:8px;
    border-top:0;
    border-bottom:4px solid #333
}
.video-bio .collapsed .caret{
    border-top:4px solid #333;
    border-bottom:0
}
.follow-button .button-text{
    min-width:85px;
    text-align:right;
    display:none
}
.follow-button.following:hover .following,.follow-button.following.cancel-hover:hover .unfollow{
    display:none
}
.follow-button.following .following,.follow-button.not-following .follow,.follow-button.following:hover .unfollow,.follow-button.following.cancel-hover:hover .following{
    display:block
}
.favorite-button .button-text{
    text-align:center;
    min-width:170px;
    display:none
}
.favorite-button.liked:hover .liked,.favorite-button.liked.cancel-hover:hover .unlike{
    display:none
}
.favorite-button.not-liked .like,.favorite-button.liked .liked,.favorite-button.liked:hover .unlike,.favorite-button.liked.cancel-hover:hover .liked{
    display:block
}
.tab-content{
    border-bottom:1px solid #aaa;
    margin-bottom:20px
}
.comments.loading{
    opacity:.4;
    filter:alpha(opacity=40)
}
.comment{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    padding-top:20px;
    margin-top:-1px
}
.comment .portrait{
    float:left
}
.comment .comment-content{
    overflow:hidden;
    padding-left:10px
}
.comment .meta{
    margin-bottom:9px;
    overflow:hidden
}
.comment .meta .time{
    float:right;
    color:#999
}
.comment-text{
    margin-right:80px
}
.comment .comment-actions{
    margin-bottom:9px
}
.comment .comment-actions a{
    font-weight:normal;
    font-size:12px
}
.comment .comment-actions .divider{
    padding:0 3px
}
.comment-form{
    position:relative
}
.comment-form-main-container{
    position:relative
}
.comment-form .portrait{
    position:absolute;
    top:0;
    left:0
}
.comment-form-main{
    margin-left:50px
}
.comment-form textarea{
    height:60px
}
.video-aside{
    margin-top:-432px
}
.player-expand .video-aside{
    margin-top:0;
    -moz-transition:margin .25s linear;
    -webkit-transition:margin .25s linear;
    -o-transition:margin .25s linear;
    transition:margin .25s linear
}
.video-list{
    list-style-type:none;
    margin:0;
    padding:0 10px
}
.video-list li{
    border-top:1px solid #ccc;
    margin-bottom:10px;
    padding-top:10px
}
.video-list li:first-child{
    border-top:0;
    padding-top:0
}
.video-list a{
    display:block;
    color:#666;
    font-weight:normal;
    overflow:hidden
}
.video-list a .vthumb{
    float:left
}
.video-list a .meta{
    padding-left:8px;
    display:block;
    font-size:12px;
    line-height:normal;
    overflow:hidden
}
.video-list a .title{
    display:block;
    color:#333;
    font-weight:bold;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.video-list a:hover .title{
    color:#42cadf
}
.video-list a .author,.video-list a .stats{
    display:block
}
.video-list a .stats>span{
    display:inline-block;
    margin-right:8px
}
.aside-block{
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa
}
.aside-block .header{
    background-color:#ccc;
    border-bottom:1px solid #aaa;
    padding:10px
}
.aside-block .header h3{
    margin:0;
    color:#999;
    font-size:14px;
    line-height:20px
}
.aside-block .content{
    background-color:#ccc;
    height:376px;
    overflow:hidden
}
.aside-block .content:hover{
    overflow:auto
}
.aside-block .content.loading{
    background-image:url(/web/20140129112936im_/http://lightspeed.goanimate.com/static/460/go/img/dashboard/loading.gif);
    background-repeat:no-repeat;
    background-position:center center
}
.revisions{
    list-style-type:none;
    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
    overflow-y:visible
}
.revision{
    background-color:#e5e5e5;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    padding:10px 20px 10px 10px;
    position:relative;
    min-height:40px
}
.revision:hover{
    background-color:#bbb
}
.revision.active{
    background-color:#f5e69f
}
.revision .actions{
    position:absolute;
    top:18px;
    right:20px
}
.revision .dimmed{
    opacity:.1;
    filter:alpha(opacity=10)
}
.revision:hover .dimmed{
    opacity:1;
    filter:alpha(opacity=100)
}
.form-error{
    width:230px;
    color:#f00;
    float:right;
    font-size:12px
}
.fav-user-grid{
    margin-top:0
}
.fav-user-grid-header .username{
    margin-left:40px;
    padding:0 10px;
    width:200px
}
.fav-user-grid-header .follower-count,.user-follower-count{
    width:100px;
    padding:0 10px;
    text-align:center
}
.fav-user-grid-header .time,.user-datetime{
    width:100px;
    padding:0 10px;
    text-align:center
}
.user-name{
    width:200px;
    padding:0 10px
}
.user-actions{
    float:right
}
.user-follower-count,.user-datetime,.user-actions{
    line-height:40px
}
.user-follow-button .button-text{
    display:none
}
.following.user-follow-button .unfollow,.not-following.user-follow-button .follow{
    display:block
}
.user-message-form .form-row-label{
    width:80px
}
.user-message-form .form-row-controls,.user-message-form .recaptcha-container{
    margin-left:90px
}
